.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vmin;
  font-size: calc(10px + 2vmin);
  color: white;
}

.maincols {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5vmin 50px;
}

.contentcol {
  width: 75%;
}

.status {
  background-color: #4caf50 !important;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.status a {
  color: inherit;
}

.status a:hover {
  color: #e8e8e8;
}

.howdy {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2rem;
  width: 25%;
}

.howdy p {
  font-size: 0.8rem;
}

.registercard {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  margin: 0 0 1rem 0;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.categorycard {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  margin: 0 0 1rem 0;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.authbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.topics {
  padding: 1rem 1rem;
  margin: 1rem 0 1rem 0;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
